<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.floating.mvc.dao.PlanDao">

	<insert id="insertPlan" parameterType="PlanRequestDto">
		INSERT INTO plan (user_pk, date, category, detail, time, complete_date, shifted)
		VALUES (#{userPk}, #{date}, #{category}, #{detail}, #{time}, #{completeDate}, #{shifted})
	</insert>
	
</mapper>