<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.floating.mvc.dao.UserDao">

	<insert id="insertUser" parameterType="User">
		INSERT INTO user (id, email, pw, name, age, gender, height, weight)
		VALUES (#{id}, #{email}, #{pw}, #{name}, #{age}, #{gender}, #{height}, #{weight})
	</insert>
</mapper>