<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.floating.mvc.dao.UserDao">

	<!-- User 등록 (회원가입)을 진행한다. -->
	<insert id="insertUser">
		INSERT INTO user(id, email, pw, name, birth, gender, height, weight, wbti_code)
		VALUES (
			#{id},
			#{email},
			#{pw},
			#{name},
			#{birth},
			#{gender},
			#{height},
			#{weight},
			null
		)
	</insert>
	
	<!-- 아이디 중복 체크를 진행한다. -->
    <select id="existById" parameterType="string" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM user
        WHERE id = #{id}
    </select>

    <!-- 이메일 중복 체크를 진행한다. -->
    <select id="existByEmail" parameterType="string" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM user
        WHERE email = #{email}
    </select>
    
    <!-- User 정보를 조회한다. -->
	<select id="selectUser" parameterType="String" resultType="UserRequestDto">
	    SELECT 
	        u.id,
	        u.email,
	        u.name,
	        u.birth,
	        u.gender,
	        u.height,
	        u.weight,
	        w.wbti_code AS wbtiCode,
	        p.score AS petScore
	    FROM user u
	    LEFT JOIN wbti w ON u.id = w.user_id
	    LEFT JOIN pet p ON u.id = p.user_id
	    WHERE u.id = #{userId}
	</select>
	
	<!-- User 정보를 수정한다. -->
	<update id="updateUser">
		UPDATE user
		SET
			email = #{dto.email},
			name = #{dto.name},
			birth = #{dto.birth},
			gender = #{dto.gender},
			height = #{dto.height},
			weight = #{dto.weight}
		WHERE id = #{userId}
	</update>
	
	<!-- User Mbti 정보를 수정한다. -->
	<update id="updateUserMbti">
		UPDATE user
		SET
			mbti_pk = #{mbtiPk}
		WHERE id = #{userId}
	</update>
	
	<!-- User 삭제 (회원탈퇴)를 진행한다. -->
	<delete id="deleteUser">
		DELETE FROM user
		WHERE id = #{userId}
	</delete>
	
	<!-- 비밀번호를 확인한다. -->
	<select id="selectPasswordById" parameterType="String" resultType="String">
		SELECT pw
	    FROM user 
	    WHERE id = #{userId}
	</select>

</mapper>