<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.floating.mvc.dao.WbtiDao">

	<!-- Plan을 추가한다. -->
	<insert id="insertWbti">
		INSERT INTO wbti(social_type, motivation_type, execution_type, activity_type, user_id)
		VALUES (
			#{socialType}, 
			#{motivationType}, 
			#{executionType}, 
			#{activityType},
			#{userId}
		)
	</insert>
	
	<select id="selectByUserId">
		SELECT * FROM wbti
		WHERE user_id = #{userId}
	</select>
	
	<update id="updateByUserId">
		UPDATE wbti
		SET
			social_type = #{socialType}, 
			motivation_type = #{motivationType}, 
			execution_type = #{executionType}, 
			activity_type = #{activityType}
		WHERE user_id = #{userId}
		
	</update>

</mapper>