<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.floating.mvc.dao.WbtiDao">

	<!-- Plan을 추가한다. -->
	<insert id="insertWbti">
    INSERT INTO wbti (
        social_score, 
        motivation_score, 
        execution_score, 
        activity_score, 
        wbti_code,
        ai_analysis,
        ai_economic_tip,
        experiences,
        quit_reason,
        body_conditions,
        available_time,
        economy,
        user_id
    )
    VALUES (
        #{socialScore},      
        #{motivationScore}, 
        #{executionScore}, 
        #{activityScore},
        #{wbtiCode},
        #{aiAnalysis},
        #{aiEconomicTip},
        #{experiencesString}, 
        #{quitReason},
        #{bodyConditionsString},
        #{availableTime},
        #{economy},
        #{userId}
    )
</insert>
	
	<select id="selectByUserId">
		SELECT * FROM wbti
		WHERE user_id = #{userId}
	</select>
	
	<update id="updateByUserId">
		UPDATE wbti
		SET
			social_type = #{socialType}, 
			motivation_type = #{motivationType}, 
			execution_type = #{executionType}, 
			activity_type = #{activityType}
		WHERE user_id = #{userId}
		
	</update>

</mapper>